* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
  }
  body {
    background-color: #DCDCDC; /* Встановлює колір фону */
  }
  
  .nav {
    background-color: rgb(32, 40, 70);
    height: 10vh;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .nav-logo {
    padding-left: 4%;
    
  }
  
  .container, .nav-logo {
    display: flex;
    align-items: center; 
    text-align: center;

  }
  
  .container a {
    font-size: 24px;
    text-decoration: none; 
    color: white; 
    text-transform: uppercase;  
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-weight: bold;


  }
  
  .container a::after{ 
  content: '|';
  font-size: 40px;
  margin: 45px 45px;
  font-weight: lighter;




}
.container a.english-version::after {
  content: '';
  margin-right: 0;
}


  .globus {
   
  }
  
  .english-version:after { 
  }
  
  .header, .main, .footer {
    text-align: center;
  }
  .logo{
    border-radius: 40px;
  }

  .main{
    display: flex;
  align-items: center; 
  flex-direction: column; 
  }

  .main-holiday-time{
    margin-top: 40px;
    position: relative;
    width: 1485px;
    height: 369px;
    color: #fff;
  }
  .main-holiday-time > h1{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    font-size: 75px;
    font-weight: bold;    
  }
  .main-holiday-time > h2{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
  }
  .holydaytime{
  }

  .main-slider{
    margin-top: 40px;
    position: relative;
    width: 1485px;
    height: 604px;
  }

  .slider-text{
    background-color: #fff;
    width: 1164px;
    height: 167px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 80%;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
.review{
  height: 68px;
  width: 245px;
  background-color: #202846;
  position: absolute;
  color: #fff;
  border-radius: 40px;
  top: 400px;
  left: 920px; 
  font-size: 24px;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-decoration: none;
}

.active-recreation{

  background-color: #C1C1C3;
  height: 412px;
  width: 1488px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 40px;


}
.active-rec-img{
  width: 698px;
  height: 349px;
  margin-left: 30px;
  

  
}
.active-rec-text{
  width: 698px;
  height: 349px;
  background-color: #EAEAEB;
  margin-right: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 26px;
}
.callback{
  width: 518px;
  height: 481px;
  background-color: #F2EEEE;
  display: flex;
  align-items: center; 
  flex-direction: column; 
  margin-top: 40px;
}
.callback-name{

}
.callback-number{

}